<!--===============================================================
~~~~~~~~~~~~~~~~~~~~~~CHARACTER STATUS ROW~~~~~~~~~~~~~~~~~~~~~~~~
=================================================================-->

<!--Start Left-hand Column-->

<div class="row">

    <div class = "col-5" id="left-col">
        <div id = "new-chars">
            <h4>Inactive Characters</h4>
            <ul>
            {{#each characters}}
                <div id="char-{{this.id}}">

                    <li>
                    <p>ID: {{this.id}}</p>
                    <p>Character: {{this.name}}</p>
                        <form action="/save/{{this.id}}" method="POST">
                            <input type="text" name="name" value="{{this.name}}"></input>
                            <button class= "save-char" type="submit">Make Active</button>
                        </form>
                        <a class="delete" href="/delete/{{this.id}}"><button>Delete {{this.name}}</button></a>
                    </li>
                </div>
            {{/each}}
            </ul>
        </div>
    </div>

<!--Start Right-hand Column-->

    <div class="col-5" id="right-col">
        <h4>Active Characters</h4>
        <ul>
            {{#each savedCharacters}}
                    <li>
                        <p>ID: {{this.id}}</p>
                        <p>Character: {{this.name}}</p>
                        <form action="/update/{{this.id}}" method="POST">
                            <input type="text" name="name" value="{{this.name}}"></input>
                            <button type="submit">Make Inactive</button>
                        </form>
                        <a href="/update/{{this.id}}"><button>Edit</button></a>
                        <a class="delete" href="/delete/{{this.id}}"><button>Delete {{this.name}}</button></a>
                    </li>
            {{/each}}
        </ul>
    </div>
    
</div> <!--End Row-->


<!--===============================================================
~~~~~~~~~~~~~~~~~~~~~CHARACTER CREATION ROW~~~~~~~~~~~~~~~~~~~~~~~~
=================================================================-->

<div class="row">

    <div class="col-12">
        <h2>Make a New Character!</h2>
        <form action="/response" method="POST" id="char-form">
            <h4>Name</h4>
            <input type="text" name = "name" id = "char-name" class="form-control" required>
            <!--<h3>Age</h3>
            <input type = "text" name = "age" id = "char-age" class = "form-control" required>
            <h3>Species</h3>
            <input type = "text" name = "species" id = "char-species" class = "form-control" required>-->
            <h4>Description</h4>
            <textarea id = "char-description" name = "description" form = "char-form" "char" class= "form-control"></textarea> 
            <input type="submit" value="Submit">
        </form>
    </div>
    
</div> <!--End Character Creation Row-->