<!--Start Left-hand Column-->

<div class="row">
    <div class = "col-5" id="left-col">
        <div id = "new-chars">

            
            <ul>
            {{#each characters}}
                <div id="char-{{this.id}}">

                    <li>
                    <p>ID: {{this.id}}</p>
                    <p>Character: {{this.name}} <a class="delete" href="/delete/{{this.id}}">Delete Me!</a></p>
                        <form action="/save/{{this.id}}" method="POST">
                            <textarea type="text" name="name">{{this.name}}</textarea>

                            <button class= "save-char" type="submit">SAVE</button>
                        </form>
                    </li>
                </div>
            {{/each}}
            </ul>
            

            <!--<p>Name: {{name}}</p>-->
            {{!-- <p>Age: {{age}}</p> --}}
            {{!-- <p>Species: {{species}}</p> --}}
            {{!-- <p>Description: {{description}}</p> --}}
        </div>
    </div>

<!--Start Right-hand Column-->

    <div class="col-5" id="right-col">

        <ul>
            {{#each savedCharacters}}
                    <li>
                        <p>ID: {{this.id}}</p>
                        <p>Character: {{this.name}} <a class="delete" href="/delete/{{this.id}}">Delete Me!</a></p>
                        <form action="/update/{{this.id}}" method="POST">
                            <textarea type="text" name="name">{{this.name}}</textarea>
                            <button type="submit">UPDATE</button>
                        </form>
                    </li>
                
                
            {{/each}}
        </ul>
    </div>
    
</div> <!--End Row-->

<div class="row">
    <div class="col-12">
        <form action="/response" method="POST" id="char-form">
            <h3>Name</h3>
            <input type="text" name = "name" id = "char-name" class="form-control" required>
            <!--<h3>Age</h3>
            <input type = "text" name = "age" id = "char-age" class = "form-control" required>
            <h3>Species</h3>
            <input type = "text" name = "species" id = "char-species" class = "form-control" required>
            <h3>Description</h3>
            <textarea id = "char-description" name = "description" form = "char-form" "char" class= "form-control"></textarea> -->
            <input type="submit" value="Submit">
        </form>
    </div>
    
</div>